.header {
  height: 100vh;
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  position: center;
  size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

.nav__links {
  flex-direction: row;
}

.nav__link {
}

.nav__link:hover {
  color: #2f80ed;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
