.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}

.menu__title {
  margin-top: 100px;
}

.menu__subtitle {
  margin-top: 24px;
}

.menu__list {
  display: flex;
}

.card {
  border: 1px solid red;
  max-width: 600px;
  display: flex;
}

.card__title {
  margin-bottom: 16px;
}

/*hmmm */

.card__content {
}

.list__item {
  margin-top: 16px;
}

.list__item_divider {
}
